{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Project Cars</title>
</head>
<body>
  {% block content %}
    <form method="GET" action="{% url "car:list" %}">
      <input type="text" name="search" placeholder="Buscar modelo de carro...">
      <button type="submit">Buscar</button>
      <a href="{% url 'car:list' %}" class="clear-button">Limpar</a>
    </form>

    <div class="car-grid">
      {% if cars %}
        {% for car in cars %}
          <div class="car-card">
            <img src="{{ car.photo.url }}" alt="{{ car.model }} - {{ car.brand }}">
            <h2>{{ car.brand }} {{ car.model }}</h2>
            <p>{{ car.factory_year }} - R$ {{ car.value }}</p>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-results">Nenhum carro encontrado.</p>
      {% endif %}
    </div>
  {% endblock %}
</body>
</html>
