{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li>Olá, {{user.username}}</li>
          <li><a href="{% url 'car:create' %}">Cadastrar Carros</a></li>  
          <li><a href="{% url 'account:logout' %}">Logout</a></li>  

        {% else %}
          <li><a href="{% url 'account:register' %}">Cadastre-se</a></li>
          <li><a href="{% url 'account:login' %}">Login</a></li>           
        {% endif %}
        <li><a href="{% url 'car:list' %}">Lista de Carros</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2023 PycodeBR Multimarcas</p>
  </footer>
</body>
</html>
